header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: black;
  /* h1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  nav {
    display: flex;
    justify-content: center;
    flex-direction: row;

    a {
      color: black;
    }
  } */
}
/*
@font-face{
    font-family: "asfd";
    src: url('sf ds'),
    url('gdchgs fb hsdgh) format('');
}
*/
