body {
  @media @desktop {
    background: black;
    color: white;
  }
}

.parent {
  @media @desktop {
    .flex-row-center();
    width: 100%;
    //background: red;
    border-right: 2px dotted black;
  }

  .child1 {
    @media @desktop {
      .flex-column-left();
      // border-right: 2px dotted black;
      width: 60%;
      border-right: red;
    }
    .music-suggestions {
      @media @desktop {
        //.flex-column-center();
        width: 100%;
        //background: green;
      }

      h2 {
        @media @desktop {
          // .flex-column-center();
          font-size: 100px;
          //border-radius: 20%;
          background: @header-backgrond-color-1;
          color: white;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
      }
    }
  }
}

.archive {
  @media @desktop {
    .flex-row-center();
    width: 100%;
  }

  .chvrn {
    @media @desktop {
      .flex-column-center();
      //background: red;
    }

    .music1 {
      @media @desktop {
        //background: black;
        .music-img-size();
      }
    }

    h3 {
      @media @desktop {
        .h3-style();
      }

      a {
        @media @desktop {
          .a-h3();
        }
      }
      a:hover {
        @media @desktop {
          .a-hr-hover-style();
        }
      }
    }
  } // End of Chvrn Container

  .output {
    @media @desktop {
      .flex-column-center();
    }

    .music2 {
      @media @desktop {
        .music-img-size();
      }
    }

    h3 {
      @media @desktop {
        .h3-style();
      }

      a {
        @media @desktop {
          .a-h3();
        }
      }
      a:hover {
        @media @desktop {
          .a-hr-hover-style();
        }
      }
    }
  } // End Of output Container

  .klimeks {
    @media @desktop {
      .flex-column-center();
    }

    .music3 {
      @media @desktop {
        .music-img-size();
      }
    }

    h3 {
      @media @desktop {
        .h3-style();
      }

      a {
        @media @desktop {
          .a-h3();
        }
      }
      a:hover {
        @media @desktop {
          .a-hr-hover-style();
        }
      }
    }
  } //End of Klimkes Container

  .skeler {
    @media @desktop {
      .flex-column-center();
    }

    .music4 {
      @media @desktop {
        .music-img-size();
      }
    }

    h3 {
      @media @desktop {
        .h3-style();
      }

      a {
        @media @desktop {
          .a-h3();
        }
      }
      a:hover {
        @media @desktop {
          .a-hr-hover-style();
        }
      }
    }
  } // End Of skeler Container
} //End of archive container

.interests {
  @media @desktop {
    .flex-row();
  }

  .column1 {
    @media @desktop {
      background: @background-color;
      .flex-column-left();
    }

    a {
      @media @desktop {
        .a-style();
      }
    }

    a:hover {
      @media @desktop {
        .a-hover-style();
      }
    }
  }

  .column2 {
    @media @desktop {
      background: @background-color;
      .flex-column-left();
    }

    a {
      @media @desktop {
        .a-style();
      }
    }

    a:hover {
      @media @desktop {
        .a-hover-style();
      }
    }
  }

  .column3 {
    @media @desktop {
      background: @background-color;
      .flex-column-left();
    }
    a {
      @media @desktop {
        .a-style();
      }
    }

    a:hover {
      @media @desktop {
        .a-hover-style();
      }
    }
  }

  .column4 {
    @media @desktop {
      background: @background-color;
      .flex-column-left();
    }

    a {
      @media @desktop {
        .a-style();
      }
    }

    a:hover {
      @media @desktop {
        .a-hover-style();
      }
    }
  }
}

.art-space {
  @media @desktop {
    // background: blue;
    .flex-column-center();
    padding-top: 30px;
  }

  .art-archive {
    @media @desktop {
      background: @header-backgrond-color-1;
      .flex-row();
    }

    .mytop9 {
      @media @desktop {
        //background: @header-backgrond-color-1;
      }

      h2 {
        @media @desktop {
          font-size: 75px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          color: white;
        }
      }
    }
  }
}

.art-pics {
  @media @desktop {
    .flex-row-center();
    // background: red;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .art1 {
    @media @desktop {
      .art-img-style();
    }
  }

  .art2 {
    @media @desktop {
      .art-img-style();
    }
  }

  .art3 {
    @media @desktop {
      .art-img-style();
    }
  }

  .art4 {
    @media @desktop {
      .art-img-style();
    }
  }
}

.art-button-container {
  @media @desktop {
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 100px;
  }

  .art-btn {
    @media @desktop {
      background: rgb(0, 0, 0);
      width: 20%;
      height: 100px;
      border-radius: 10%;
      border: 4px solid white;
    }

    a {
      @media @desktop {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 55px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    a:hover {
      @media @desktop {
        color: red;
        //background: rgb(255, 255, 255);
      }
    }
  }
} //end of art btn-container

.food-container {
  @media @desktop {
    color: white;
    .flex-column-left();
    //background: red;
    width: 100%;
  }

  .food-space {
    @media @desktop {
      background: @header-backgrond-color-1;
      height: 200px;
    }

    h2 {
      @media @desktop {
        color: white;
        font-size: 70px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-left: 30px;
      }
    } //end of h2
  } //end of food-space
} // end of food-container

.img-food {
  @media @desktop {
    padding-top: 100px;
    background: black;
    .flex-row();
    width: 100%;
    padding-left: 5px;
  }

  .food1 {
    @media @desktop {
      .flex-column-center();
    }

    .chicken-kiev {
      @media @desktop {
        .food-img-style();
      }
    }

    h3 {
      @media @desktop {
        font-size: 70px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    }
  } //end of food1

  .food2 {
    @media @desktop {
      .flex-column-center();
    }

    .croquettes {
      @media @desktop {
        .food-img-style();
      }
    }

    h3 {
      @media @desktop {
        font-size: 70px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    }
  } //end of food2

  .food3 {
    @media @desktop {
      .flex-column-center();
    }

    .sushi {
      @media @desktop {
        .food-img-style();
      }
    }

    h3 {
      @media @desktop {
        font-size: 70px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    }
  } //end of food3
} // end of img-food

.food-btn-container {
  @media @desktop {
    //background: red;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
  }

  .food-btn {
    @media @desktop {
      width: 25%;
      height: 100px;
      border: 4px solid white;
      border-radius: 10%;
      background: black;
    }

    a {
      @media @desktop {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 55px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    a:hover {
      @media @desktop {
        color: red;
        //background: rgb(255, 255, 255);
      }
    }
  }
}

.child2 {
  @media @desktop {
    color: white;
    width: 35%;
    .flex-column-left;
  }

  .sign-up {
    @media @desktop {
      //background: blue;
    }

    h2 {
      @media @desktop {
        background: @header-backgrond-color-1;
        font-size: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-left: 40px;
      }
    }

    .sign-up-form {
      @media @desktop {
        .flex-column-left();
        //background: red;
        padding: 30px;
        height: 1500px;
      }
    }

    .input1 {
      @media @desktop {
        .input-style();
      }

      .first-name {
        @media @desktop {
          .sign-up-style();
        }
      }
    } //end of input1

    .input2 {
      @media @desktop {
        .input-style();
      }

      .last-name {
        @media @desktop {
          .sign-up-style();
        }
      }
    } //end of input2

    .input3 {
      @media @desktop {
        .input-style();
      }

      .email {
        @media @desktop {
          .sign-up-style();
        }
      }
    }

    .input4 {
      @media @desktop {
        .input-style();
      }

      .username {
        @media @desktop {
          .sign-up-style();
        }
      }
    }

    .input5 {
      @media @desktop {
        .input-style();
      }

      .password {
        @media @desktop {
          .sign-up-style();
        }
      }
    }

    .submit {
      @media @desktop {
        width: 100%;
      }

      .submit-btn {
        @media @desktop {
          width: 50%;
        }
      }
    }
  } //end of sign-up
}

// note-9 view @note-9-viewport

body {
  @media @note-9-viewport {
    background: black;
    color: white;
  }
}

.parent {
  @media @note-9-viewport {
    .flex-column-center();
    width: 100%;
  }

  .child1 {
    @media @note-9-viewport {
      .flex-column-left();
      width: 100%;
      border-right: red;
    }
    .music-suggestions {
      @media @note-9-viewport {
        //.flex-column-center();
        width: 100%;
        //background: green;
      }

      h2 {
        @media @note-9-viewport {
          // .flex-column-center();
          font-size: 30px;
          text-align: center;
          //border-radius: 20%;
          background: @header-backgrond-color-1;
          color: white;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
      }
    }
  }
}

.archive {
  @media @note-9-viewport {
    .flex-column-center();
    width: 100%;
  }

  .chvrn {
    @media @note-9-viewport {
      .flex-column-center();
      width: 100%;
      //background: red;
    }

    .music1 {
      @media @note-9-viewport {
        .music-img-size();
        width: 95%;
      }
    }

    h3 {
      @media @note-9-viewport {
        .note-9-h3-music();
      }

      a {
        @media @note-9-viewport {
          .a-h3();
        }
      }
      a:hover {
        @media @note-9-viewport {
          .a-hr-hover-style();
        }
      }
    }
  } // End of Chvrn Container

  .output {
    @media @note-9-viewport {
      .flex-column-center();
    }

    .music2 {
      @media @note-9-viewport {
        .music-img-size();
        width: 95%;
      }
    }

    h3 {
      @media @note-9-viewport {
        .note-9-h3-music();
      }

      a {
        @media @note-9-viewport {
          .a-h3();
        }
      }
      a:hover {
        @media @note-9-viewport {
          .a-hr-hover-style();
        }
      }
    }
  } // End Of output Container

  .klimeks {
    @media @note-9-viewport {
      .flex-column-center();
    }

    .music3 {
      @media @note-9-viewport {
        .music-img-size();
        width: 95%;
      }
    }

    h3 {
      @media @note-9-viewport {
        .note-9-h3-music();
      }

      a {
        @media @note-9-viewport {
          .a-h3();
        }
      }
      a:hover {
        @media @note-9-viewport {
          .a-hr-hover-style();
        }
      }
    }
  } //End of Klimkes Container

  .skeler {
    @media @note-9-viewport {
      .flex-column-center();
    }

    .music4 {
      @media @note-9-viewport {
        .music-img-size();
        width: 95%;
      }
    }

    h3 {
      @media @note-9-viewport {
        .note-9-h3-music();
      }

      a {
        @media @note-9-viewport {
          .a-h3();
        }
      }
      a:hover {
        @media @note-9-viewport {
          .a-hr-hover-style();
        }
      }
    }
  } // End Of skeler Container
} //End of archive container

.interests {
  @media @note-9-viewport {
    display: none;
    width: 100%;
  }

  .column1 {
    @media @note-9-viewport {
      background: @background-color;
      .flex-column-left();
    }

    a {
      @media @note-9-viewport {
        .a-style();
      }
    }

    a:hover {
      @media @note-9-viewport {
        .a-hover-style();
      }
    }
  }

  .column2 {
    @media @note-9-viewport {
      background: @background-color;
      .flex-column-left();
    }

    a {
      @media @note-9-viewport {
        .a-style();
      }
    }

    a:hover {
      @media @note-9-viewport {
        .a-hover-style();
      }
    }
  }

  .column3 {
    @media @note-9-viewport {
      background: @background-color;
      .flex-column-left();
    }
    a {
      @media @note-9-viewport {
        .a-style();
      }
    }

    a:hover {
      @media @note-9-viewport {
        .a-hover-style();
      }
    }
  }

  .column4 {
    @media @note-9-viewport {
      background: @background-color;
      .flex-column-left();
    }

    a {
      @media @note-9-viewport {
        .a-style();
      }
    }

    a:hover {
      @media @note-9-viewport {
        .a-hover-style();
      }
    }
  }
}

.art-space {
  @media @note-9-viewport {
    // background: blue;
    .flex-column-center();
    padding-top: 30px;
    width: 100%;
  }

  .art-archive {
    @media @note-9-viewport {
      background: @header-backgrond-color-1;
      .flex-row();
    }

    .mytop9 {
      @media @note-9-viewport {
        //background: @header-backgrond-color-1;
      }

      h2 {
        @media @note-9-viewport {
          font-size: 35px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          color: white;
          text-align: center;
        }
      }
    }
  }
}

.art-pics {
  @media @note-9-viewport {
    .flex-column-center();
    // background: red;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
  }

  .art1 {
    @media @note-9-viewport {
      .art-img-style();
      widows: 10%;
    }
  }

  .art2 {
    @media @note-9-viewport {
      .art-img-style();
    }
  }

  .art3 {
    @media @note-9-viewport {
      .art-img-style();
    }
  }

  .art4 {
    @media @note-9-viewport {
      .art-img-style();
    }
  }
}

.art-button-container {
  @media @note-9-viewport {
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 100px;
  }

  .art-btn {
    @media @note-9-viewport {
      background: rgb(0, 0, 0);
      width: 20%;
      height: 100px;
      border-radius: 10%;
      border: 4px solid white;
    }

    a {
      @media @note-9-viewport {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 55px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    a:hover {
      @media @note-9-viewport {
        color: red;
        //background: rgb(255, 255, 255);
      }
    }
  }
} //end of art btn-container

.food-container {
  @media @note-9-viewport {
    color: white;
    .flex-column-left();
    //background: red;
    width: 100%;
  }

  .food-space {
    @media @note-9-viewport {
      background: @header-backgrond-color-1;
      height: 200px;
    }

    h2 {
      @media @note-9-viewport {
        color: white;
        font-size: 70px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-left: 30px;
      }
    } //end of h2
  } //end of food-space
} // end of food-container
