//less-watch-compiler less css index.less
header {
  display: flex;
  justify-content: center;
  flex-direction: row;

  h1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  nav {
    display: flex;
    justify-content: center;
    flex-direction: row;

    a {
      color: black;
    }
  }
}
